/*---------------------
  Categories
-----------------------*/
.categories {
  overflow: hidden;
  margin-top: 10px;

  .container-fluid {
    padding-right: 5px;
  }
}

.categories__item {
  height: 314px;
  display: flex;
  align-items: center;
  //padding-left: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  img {
    height: 314px;
    object-fit: cover;
    object-position: center;
  }
  .categories__text {
    position: absolute;
    left: 5%;
    transform: translateY(-5%);
  }
  &.categories__large__item {
    height: 638px;
    padding-left: 0;
    img {
      height: 638px;
      object-fit: cover;
      object-position: center;
    }

    .categories__text {
      max-width: 480px;
      position: absolute;
      position: absolute;
      left: 10%;
      transform: translateY(-10%);
      p {
        margin-bottom: 15px;
      }
    }
  }
}

.categories__text {
  h1 {
    font-family: "Cookie", cursive;
    color: $heading-color;
    margin-bottom: 5px;
  }

  h4 {
    color: $heading-color;
    font-weight: 700;
  }

  p {
    margin-bottom: 10px;
  }

  a {
    font-size: 14px;
    color: $heading-color;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: $primary-color;
      content: "";
    }
  }
}
